<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
<h1 th:text="'Recipe Home Page!!!!!!!!'">Recipe Home Page</h1>

<table>
    <th>
        <tr th:text="'ID'">id</tr>
        <tr th:text="'Description'">description</tr>
    </th>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">123</td>
        <td th:text="{recipe.description}">how to make</td>
    </tr>
</table>
</body>
</html>